/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 header {
  background-color: #1c1d3b;
  height: 50px; /*← ヘッダーの高さを80pxに指定*/
  position: fixed; /*← ヘッダーを固定する*/
  top: 0; /*← 一番上から０pxの位置にヘッダーを固定*/
  width: 100%;
  text-align: center;
}

.layout-title {
  color: #fff;
  font-size: 14px;
}

.container {
  padding-top: 50px
  width: 100%;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 50px;
}

.index-top {
  align-items: baseline;
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

button {
  color: #2962ff;
  float: right;
}